.panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 225px;
  background: var(--color-panel-bg);
  border-top: 1px solid var(--color-panel-border);
  display: flex;
  flex-direction: row;
  pointer-events: auto;
  z-index: 10;
}
